force-app/main/default/flows/Account_Rating_Field_Automation_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>countAssignment</name>
        <label>countAssignment</label>
        <locationX>778</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>OppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>oppList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rating_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Rating_Decision</name>
        <label>Rating Decision</label>
        <locationX>770</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RatingHot</targetReference>
            </connector>
            <label>&gt;=10</label>
        </rules>
        <rules>
            <name>X3_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RatingWarm</targetReference>
            </connector>
            <label>&gt;3 &amp;&amp; &lt;10</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RatingCold</targetReference>
            </connector>
            <label>&lt;=3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Rating Field Automation V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Rating Field Automation V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllRelatedOpps</name>
        <label>getAllRelatedOpps</label>
        <locationX>778</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oppList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>RatingCold</name>
        <label>RatingCold</label>
        <locationX>483</locationX>
        <locationY>870</locationY>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RatingHot</name>
        <label>RatingHot</label>
        <locationX>1122</locationX>
        <locationY>880</locationY>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RatingWarm</name>
        <label>RatingWarm</label>
        <locationX>782</locationX>
        <locationY>944</locationY>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAllRelatedOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>oppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
