force-app/main/default/flows/Lead_Assignment_to_Sale_Rep_of_selected_Dealer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Asssignment_to_Sales_Rep_Notification</name>
        <label>Lead Asssignment to Sales Rep Notification</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SalesRepids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Wohuuu You have a new LEAD!!!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>LeadAssignmentNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Rep_ids_to_the_list</name>
        <label>Assign Rep ids to the list</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SalesRepids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Dealer__r.Sales_Representative__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Asssignment_to_Sales_Rep_Notification</targetReference>
        </connector>
    </assignments>
    <description>When a dealer selected on a lead, Sales rep of the selected Dealer will be assigned as the Record owner</description>
    <environments>Default</environments>
    <interviewLabel>Lead Assignment to Sale Rep of selected Dealer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment to Sale Rep of selected Dealer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type_Record</name>
        <label>Get Notification Type Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Rep_ids_to_the_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Assignment_to_Dealer_Sales_Rep</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Do_not_change_owner</name>
        <label>Do not change owner</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sales Rep in chosen Dealear is to be assigned as Lead Owner</description>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Notification_Type_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Do_not_change_owner</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Dealer__r.Sales_Representative__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Dealer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LeadAssignmentNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Sales Rep {!$Record.Dealer__r.Sales_Representative__r.FirstName}  {!$Record.Dealer__r.Sales_Representative__r.LastName} in {!$Record.Dealer__r.Name}!
You are assign a new lead.
Please contact the lead as soon as possible!!!!</text>
    </textTemplates>
    <variables>
        <name>SalesRepids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
